In [1]:
from keras.models import Sequential
from keras.layers import Dense
import numpy as np
import pandas as pd

In [2]:
gas = pd.read_csv('gas_turbines.csv')
gas.head()

,AT,AP,AH,AFDP,GTEP,TIT,TAT,TEY,CDP,CO,NOX
0,6.8594,1007.9,96.799,3.5000,19.663,1059.2,550.00,114.70,10.605,3.1547,82.722
1,6.7850,1008.4,97.118,3.4998,19.728,1059.3,550.00,114.72,10.598,3.2363,82.776
2,6.8977,1008.8,95.939,3.4824,19.779,1059.4,549.87,114.71,10.601,3.2012,82.468
3,7.0569,1009.2,95.249,3.4805,19.792,1059.6,549.99,114.72,10.606,3.1923,82.670
4,7.3978,1009.7,95.150,3.4976,19.765,1059.7,549.98,114.72,10.612,3.2484,82.311

In [30]:
gas['TEYCtg'] = pd.cut(gas.TEY,bins=[100,140,180],labels=["Low","High"])
gas

,AT,AP,AH,AFDP,GTEP,TIT,TAT,TEY,CDP,CO,NOX,TEYCtg
0,6.8594,1007.9,96.799,3.5000,19.663,1059.2,550.00,114.70,10.605,3.1547,82.722,Low
1,6.7850,1008.4,97.118,3.4998,19.728,1059.3,550.00,114.72,10.598,3.2363,82.776,Low
2,6.8977,1008.8,95.939,3.4824,19.779,1059.4,549.87,114.71,10.601,3.2012,82.468,Low
3,7.0569,1009.2,95.249,3.4805,19.792,1059.6,549.99,114.72,10.606,3.1923,82.670,Low
4,7.3978,1009.7,95.150,3.4976,19.765,1059.7,549.98,114.72,10.612,3.2484,82.311,Low
...,...,...,...,...,...,...,...,...,...,...,...,...
15034,9.0301,1005.6,98.460,3.5421,19.164,1049.7,546.21,111.61,10.400,4.5186,79.559,Low
15035,7.8879,1005.9,99.093,3.5059,19.414,1046.3,543.22,111.78,10.433,4.8470,79.917,Low
15036,7.2647,1006.3,99.496,3.4770,19.530,1037.7,537.32,110.19,10.483,7.9632,90.912,Low
15037,7.0060,1006.8,99.008,3.4486,19.377,1043.2,541.24,110.74,10.533,6.2494,93.227,Low
15038,6.9279,1007.2,97.533,3.4275,19.306,1049.9,545.85,111.58,10.583,4.9816,92.498,Low

In [31]:
from sklearn import preprocessing 
label_encoder = preprocessing.LabelEncoder()

In [32]:
gas['TEYCtg']= label_encoder.fit_transform(gas['TEYCtg']) 
gas

,AT,AP,AH,AFDP,GTEP,TIT,TAT,TEY,CDP,CO,NOX,TEYCtg
0,6.8594,1007.9,96.799,3.5000,19.663,1059.2,550.00,114.70,10.605,3.1547,82.722,1
1,6.7850,1008.4,97.118,3.4998,19.728,1059.3,550.00,114.72,10.598,3.2363,82.776,1
2,6.8977,1008.8,95.939,3.4824,19.779,1059.4,549.87,114.71,10.601,3.2012,82.468,1
3,7.0569,1009.2,95.249,3.4805,19.792,1059.6,549.99,114.72,10.606,3.1923,82.670,1
4,7.3978,1009.7,95.150,3.4976,19.765,1059.7,549.98,114.72,10.612,3.2484,82.311,1
...,...,...,...,...,...,...,...,...,...,...,...,...
15034,9.0301,1005.6,98.460,3.5421,19.164,1049.7,546.21,111.61,10.400,4.5186,79.559,1
15035,7.8879,1005.9,99.093,3.5059,19.414,1046.3,543.22,111.78,10.433,4.8470,79.917,1
15036,7.2647,1006.3,99.496,3.4770,19.530,1037.7,537.32,110.19,10.483,7.9632,90.912,1
15037,7.0060,1006.8,99.008,3.4486,19.377,1043.2,541.24,110.74,10.533,6.2494,93.227,1
15038,6.9279,1007.2,97.533,3.4275,19.306,1049.9,545.85,111.58,10.583,4.9816,92.498,1

In [33]:
Y = gas.iloc[:,11]
Y

0        1
1        1
2        1
3        1
4        1
        ..
15034    1
15035    1
15036    1
15037    1
15038    1
Name: TEYCtg, Length: 15039, dtype: int32

In [34]:
#using ambient variables as features i.e. predictors
X = gas.iloc[:,0:3]
X

           AT      AP      AH
0      6.8594  1007.9  96.799
1      6.7850  1008.4  97.118
2      6.8977  1008.8  95.939
3      7.0569  1009.2  95.249
4      7.3978  1009.7  95.150
...       ...     ...     ...
15034  9.0301  1005.6  98.460
15035  7.8879  1005.9  99.093
15036  7.2647  1006.3  99.496
15037  7.0060  1006.8  99.008
15038  6.9279  1007.2  97.533

[15039 rows x 3 columns]

In [35]:
model = Sequential()
model.add(Dense(12, input_dim=3, kernel_initializer='random_uniform', activation='relu'))
model.add(Dense(8, kernel_initializer='random_uniform', activation='relu'))
model.add(Dense(1, kernel_initializer='random_uniform', activation='sigmoid'))

In [36]:
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [37]:
def norm_func(i):
     x = (i-i.min())	/	(i.max()	-	i.min())
     return (x)

In [38]:
predictors = gas.iloc[:,0:3]
target = gas.iloc[:,11]
target

0        1
1        1
2        1
3        1
4        1
        ..
15034    1
15035    1
15036    1
15037    1
15038    1
Name: TEYCtg, Length: 15039, dtype: int32

In [39]:
predictors1 = norm_func(predictors)
data = pd.concat([predictors1,target],axis=1)
data

             AT        AP        AH  TEYCtg
0      0.184182  0.456050  0.951314       1
1      0.182020  0.466391  0.955881       1
2      0.185295  0.474664  0.939003       1
3      0.189922  0.482937  0.929126       1
4      0.199830  0.493278  0.927708       1
...         ...       ...       ...     ...
15034  0.247272  0.408480  0.975092       1
15035  0.214075  0.414685  0.984153       1
15036  0.195962  0.422958  0.989922       1
15037  0.188443  0.433299  0.982936       1
15038  0.186173  0.441572  0.961821       1

[15039 rows x 4 columns]

In [40]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test= train_test_split(predictors1,target, test_size=0.3)

In [41]:
def prep_model(hidden_dim):
    model = Sequential()
    for i in range(1,len(hidden_dim)-1):
        if (i==1):
            model.add(Dense(hidden_dim[i],input_dim=hidden_dim[0],activation="relu"))
        else:
            model.add(Dense(hidden_dim[i],activation="relu"))
    model.add(Dense(hidden_dim[-1],kernel_initializer="normal",activation="sigmoid"))
    model.compile(loss="binary_crossentropy",optimizer = "rmsprop",metrics = ["accuracy"])
    return model

In [42]:
first_model = prep_model([3,1])
first_model.fit(np.array(x_train),np.array(y_train),epochs=150)
pred_train = first_model.predict(np.array(x_train))

Epoch 1/150
329/329 [==============================] - 1s 773us/step - loss: 0.6166 - accuracy: 0.7435
Epoch 2/150
329/329 [==============================] - 0s 733us/step - loss: 0.5647 - accuracy: 0.7437
Epoch 3/150
329/329 [==============================] - 0s 794us/step - loss: 0.5606 - accuracy: 0.7437
Epoch 4/150
329/329 [==============================] - 0s 716us/step - loss: 0.5592 - accuracy: 0.7437
Epoch 5/150
329/329 [==============================] - 0s 727us/step - loss: 0.5579 - accuracy: 0.7437
Epoch 6/150
329/329 [==============================] - 0s 793us/step - loss: 0.5568 - accuracy: 0.7437
Epoch 7/150
329/329 [==============================] - 0s 646us/step - loss: 0.5556 - accuracy: 0.7437
Epoch 8/150
329/329 [==============================] - 0s 730us/step - loss: 0.5547 - accuracy: 0.7437
Epoch 9/150
329/329 [==============================] - 0s 644us/step - loss: 0.5538 - accuracy: 0.7437
Epoch 10/150
329/329 [==============================] - 0s 744us/step - loss: 0.5529 - accuracy: 0.7437
Epoch 11/150
329/329 [==============================] - 0s 735us/step - loss: 0.5521 - accuracy: 0.7437
Epoch 12/150
329/329 [==============================] - 0s 717us/step - loss: 0.5515 - accuracy: 0.7437
Epoch 13/150
329/329 [==============================] - 0s 732us/step - loss: 0.5508 - accuracy: 0.7437
Epoch 14/150
329/329 [==============================] - 0s 726us/step - loss: 0.5502 - accuracy: 0.7437
Epoch 15/150
329/329 [==============================] - 0s 739us/step - loss: 0.5496 - accuracy: 0.7437
Epoch 16/150
329/329 [==============================] - 0s 793us/step - loss: 0.5491 - accuracy: 0.7437
Epoch 17/150
329/329 [==============================] - 0s 799us/step - loss: 0.5486 - accuracy: 0.7437
Epoch 18/150
329/329 [==============================] - 0s 805us/step - loss: 0.5481 - accuracy: 0.7437
Epoch 19/150
329/329 [==============================] - 0s 815us/step - loss: 0.5477 - accuracy: 0.7437
Epoch 20/150
329/329 [==============================] - 0s 792us/step - loss: 0.5472 - accuracy: 0.7437
Epoch 21/150
329/329 [==============================] - 0s 803us/step - loss: 0.5468 - accuracy: 0.7437
Epoch 22/150
329/329 [==============================] - 0s 856us/step - loss: 0.5463 - accuracy: 0.7437
Epoch 23/150
329/329 [==============================] - 0s 867us/step - loss: 0.5460 - accuracy: 0.7437
Epoch 24/150
329/329 [==============================] - 0s 737us/step - loss: 0.5457 - accuracy: 0.7437
Epoch 25/150
329/329 [==============================] - 0s 726us/step - loss: 0.5453 - accuracy: 0.7437
Epoch 26/150
329/329 [==============================] - 0s 736us/step - loss: 0.5450 - accuracy: 0.7437
Epoch 27/150
329/329 [==============================] - 0s 867us/step - loss: 0.5447 - accuracy: 0.7437
Epoch 28/150
329/329 [==============================] - 0s 744us/step - loss: 0.5444 - accuracy: 0.7437
Epoch 29/150
329/329 [==============================] - 0s 729us/step - loss: 0.5441 - accuracy: 0.7437
Epoch 30/150
329/329 [==============================] - 0s 757us/step - loss: 0.5439 - accuracy: 0.7437
Epoch 31/150
329/329 [==============================] - 0s 791us/step - loss: 0.5436 - accuracy: 0.7437
Epoch 32/150
329/329 [==============================] - 0s 740us/step - loss: 0.5434 - accuracy: 0.7438
Epoch 33/150
329/329 [==============================] - 0s 816us/step - loss: 0.5432 - accuracy: 0.7438
Epoch 34/150
329/329 [==============================] - 0s 794us/step - loss: 0.5430 - accuracy: 0.7440
Epoch 35/150
329/329 [==============================] - 0s 823us/step - loss: 0.5428 - accuracy: 0.7441
Epoch 36/150
329/329 [==============================] - 0s 826us/step - loss: 0.5426 - accuracy: 0.7442
Epoch 37/150
329/329 [==============================] - 0s 744us/step - loss: 0.5424 - accuracy: 0.7443
Epoch 38/150
329/329 [==============================] - 0s 845us/step - loss: 0.5422 - accuracy: 0.7444
Epoch 39/150
329/329 [==============================] - 0s 716us/step - loss: 0.5420 - accuracy: 0.7445
Epoch 40/150
329/329 [==============================] - 0s 796us/step - loss: 0.5418 - accuracy: 0.7445
Epoch 41/150
329/329 [==============================] - 0s 740us/step - loss: 0.5417 - accuracy: 0.7446
Epoch 42/150
329/329 [==============================] - 0s 904us/step - loss: 0.5415 - accuracy: 0.7448
Epoch 43/150
329/329 [==============================] - 0s 805us/step - loss: 0.5414 - accuracy: 0.7446
Epoch 44/150
329/329 [==============================] - 0s 768us/step - loss: 0.5412 - accuracy: 0.7448
Epoch 45/150
329/329 [==============================] - 0s 734us/step - loss: 0.5410 - accuracy: 0.7448
Epoch 46/150
329/329 [==============================] - 0s 792us/step - loss: 0.5409 - accuracy: 0.7450
Epoch 47/150
329/329 [==============================] - 0s 714us/step - loss: 0.5408 - accuracy: 0.7450
Epoch 48/150
329/329 [==============================] - 0s 722us/step - loss: 0.5406 - accuracy: 0.7452
Epoch 49/150
329/329 [==============================] - 0s 753us/step - loss: 0.5405 - accuracy: 0.7457
Epoch 50/150
329/329 [==============================] - 0s 777us/step - loss: 0.5404 - accuracy: 0.7454
Epoch 51/150
329/329 [==============================] - 0s 711us/step - loss: 0.5403 - accuracy: 0.7458
Epoch 52/150
329/329 [==============================] - 0s 713us/step - loss: 0.5402 - accuracy: 0.7455
Epoch 53/150
329/329 [==============================] - 0s 724us/step - loss: 0.5400 - accuracy: 0.7461
Epoch 54/150
329/329 [==============================] - 0s 948us/step - loss: 0.5400 - accuracy: 0.7459
Epoch 55/150
329/329 [==============================] - 0s 748us/step - loss: 0.5398 - accuracy: 0.7462
Epoch 56/150
329/329 [==============================] - 0s 716us/step - loss: 0.5397 - accuracy: 0.7466
Epoch 57/150
329/329 [==============================] - 0s 716us/step - loss: 0.5396 - accuracy: 0.7464
Epoch 58/150
329/329 [==============================] - 0s 810us/step - loss: 0.5395 - accuracy: 0.7467
Epoch 59/150
329/329 [==============================] - 0s 716us/step - loss: 0.5394 - accuracy: 0.7470
Epoch 60/150
329/329 [==============================] - 0s 748us/step - loss: 0.5394 - accuracy: 0.7467
Epoch 61/150
329/329 [==============================] - 0s 743us/step - loss: 0.5393 - accuracy: 0.7472
Epoch 62/150
329/329 [==============================] - 0s 840us/step - loss: 0.5392 - accuracy: 0.7473
Epoch 63/150
329/329 [==============================] - 0s 715us/step - loss: 0.5391 - accuracy: 0.7474
Epoch 64/150
329/329 [==============================] - 0s 678us/step - loss: 0.5390 - accuracy: 0.7475
Epoch 65/150
329/329 [==============================] - 0s 749us/step - loss: 0.5389 - accuracy: 0.7473
Epoch 66/150
329/329 [==============================] - 0s 766us/step - loss: 0.5388 - accuracy: 0.7476
Epoch 67/150
329/329 [==============================] - 0s 693us/step - loss: 0.5387 - accuracy: 0.7478
Epoch 68/150
329/329 [==============================] - 0s 723us/step - loss: 0.5387 - accuracy: 0.7478
Epoch 69/150
329/329 [==============================] - 0s 738us/step - loss: 0.5386 - accuracy: 0.7478
Epoch 70/150
329/329 [==============================] - 0s 836us/step - loss: 0.5385 - accuracy: 0.7478
Epoch 71/150
329/329 [==============================] - 0s 737us/step - loss: 0.5385 - accuracy: 0.7479
Epoch 72/150
329/329 [==============================] - 0s 762us/step - loss: 0.5384 - accuracy: 0.7476
Epoch 73/150
329/329 [==============================] - 0s 698us/step - loss: 0.5383 - accuracy: 0.7474
Epoch 74/150
329/329 [==============================] - 0s 795us/step - loss: 0.5382 - accuracy: 0.7479
Epoch 75/150
329/329 [==============================] - 0s 740us/step - loss: 0.5382 - accuracy: 0.7476
Epoch 76/150
329/329 [==============================] - 0s 720us/step - loss: 0.5381 - accuracy: 0.7475
Epoch 77/150
329/329 [==============================] - 0s 717us/step - loss: 0.5380 - accuracy: 0.7479
Epoch 78/150
329/329 [==============================] - 0s 873us/step - loss: 0.5380 - accuracy: 0.7474
Epoch 79/150

329/329 [==============================] - 0s 842us/step - loss: 0.5379 - accuracy: 0.7479
Epoch 80/150
329/329 [==============================] - 0s 883us/step - loss: 0.5378 - accuracy: 0.7479
Epoch 81/150
329/329 [==============================] - 0s 750us/step - loss: 0.5378 - accuracy: 0.7477
Epoch 82/150
329/329 [==============================] - 0s 804us/step - loss: 0.5377 - accuracy: 0.7478
Epoch 83/150
329/329 [==============================] - 0s 757us/step - loss: 0.5377 - accuracy: 0.7478
Epoch 84/150
329/329 [==============================] - 0s 1ms/step - loss: 0.5376 - accuracy: 0.7484
Epoch 85/150
329/329 [==============================] - 0s 888us/step - loss: 0.5376 - accuracy: 0.7481
Epoch 86/150
329/329 [==============================] - 0s 729us/step - loss: 0.5375 - accuracy: 0.7483
Epoch 87/150
329/329 [==============================] - 0s 807us/step - loss: 0.5375 - accuracy: 0.7485
Epoch 88/150
329/329 [==============================] - 0s 739us/step - loss: 0.5374 - accuracy: 0.7483
Epoch 89/150
329/329 [==============================] - 0s 833us/step - loss: 0.5374 - accuracy: 0.7482
Epoch 90/150
329/329 [==============================] - 0s 751us/step - loss: 0.5373 - accuracy: 0.7485
Epoch 91/150
329/329 [==============================] - 0s 735us/step - loss: 0.5372 - accuracy: 0.7482
Epoch 92/150
329/329 [==============================] - 0s 708us/step - loss: 0.5372 - accuracy: 0.7488
Epoch 93/150
329/329 [==============================] - 0s 794us/step - loss: 0.5372 - accuracy: 0.7488
Epoch 94/150
329/329 [==============================] - 0s 767us/step - loss: 0.5371 - accuracy: 0.7489
Epoch 95/150
329/329 [==============================] - 0s 806us/step - loss: 0.5371 - accuracy: 0.7483
Epoch 96/150
329/329 [==============================] - 0s 728us/step - loss: 0.5370 - accuracy: 0.7491
Epoch 97/150
329/329 [==============================] - 0s 837us/step - loss: 0.5370 - accuracy: 0.7488
Epoch 98/150
329/329 [==============================] - 0s 704us/step - loss: 0.5369 - accuracy: 0.7493
Epoch 99/150
329/329 [==============================] - 0s 739us/step - loss: 0.5369 - accuracy: 0.7487
Epoch 100/150
329/329 [==============================] - 0s 791us/step - loss: 0.5368 - accuracy: 0.7492
Epoch 101/150
329/329 [==============================] - 0s 855us/step - loss: 0.5368 - accuracy: 0.7493
Epoch 102/150
329/329 [==============================] - 0s 743us/step - loss: 0.5367 - accuracy: 0.7492
Epoch 103/150
329/329 [==============================] - 0s 717us/step - loss: 0.5367 - accuracy: 0.7490
Epoch 104/150
329/329 [==============================] - 0s 783us/step - loss: 0.5367 - accuracy: 0.7490
Epoch 105/150
329/329 [==============================] - 0s 764us/step - loss: 0.5366 - accuracy: 0.7493
Epoch 106/150
329/329 [==============================] - 0s 735us/step - loss: 0.5366 - accuracy: 0.7496
Epoch 107/150
329/329 [==============================] - 0s 744us/step - loss: 0.5366 - accuracy: 0.7494
Epoch 108/150
329/329 [==============================] - 0s 795us/step - loss: 0.5365 - accuracy: 0.7493
Epoch 109/150
329/329 [==============================] - 0s 786us/step - loss: 0.5365 - accuracy: 0.7494
Epoch 110/150
329/329 [==============================] - 0s 713us/step - loss: 0.5364 - accuracy: 0.7496
Epoch 111/150
329/329 [==============================] - 0s 762us/step - loss: 0.5363 - accuracy: 0.7495
Epoch 112/150
329/329 [==============================] - 0s 745us/step - loss: 0.5364 - accuracy: 0.7496
Epoch 113/150
329/329 [==============================] - 0s 811us/step - loss: 0.5363 - accuracy: 0.7494
Epoch 114/150
329/329 [==============================] - 0s 726us/step - loss: 0.5363 - accuracy: 0.7499
Epoch 115/150
329/329 [==============================] - 0s 796us/step - loss: 0.5363 - accuracy: 0.7492
Epoch 116/150
329/329 [==============================] - 0s 790us/step - loss: 0.5362 - accuracy: 0.7504
Epoch 117/150
329/329 [==============================] - 0s 725us/step - loss: 0.5362 - accuracy: 0.7496
Epoch 118/150
329/329 [==============================] - 0s 722us/step - loss: 0.5362 - accuracy: 0.7495
Epoch 119/150
329/329 [==============================] - 0s 732us/step - loss: 0.5361 - accuracy: 0.7492
Epoch 120/150
329/329 [==============================] - 0s 805us/step - loss: 0.5361 - accuracy: 0.7494
Epoch 121/150
329/329 [==============================] - 0s 750us/step - loss: 0.5361 - accuracy: 0.7493
Epoch 122/150
329/329 [==============================] - 0s 665us/step - loss: 0.5360 - accuracy: 0.7496
Epoch 123/150
329/329 [==============================] - 0s 719us/step - loss: 0.5360 - accuracy: 0.7499
Epoch 124/150
329/329 [==============================] - 0s 730us/step - loss: 0.5359 - accuracy: 0.7495
Epoch 125/150
329/329 [==============================] - 0s 740us/step - loss: 0.5358 - accuracy: 0.7498
Epoch 126/150
329/329 [==============================] - 0s 707us/step - loss: 0.5359 - accuracy: 0.7496
Epoch 127/150
329/329 [==============================] - 0s 732us/step - loss: 0.5359 - accuracy: 0.7495
Epoch 128/150
329/329 [==============================] - 0s 744us/step - loss: 0.5358 - accuracy: 0.7494
Epoch 129/150
329/329 [==============================] - 0s 766us/step - loss: 0.5358 - accuracy: 0.7497
Epoch 130/150
329/329 [==============================] - 0s 711us/step - loss: 0.5358 - accuracy: 0.7495
Epoch 131/150
329/329 [==============================] - 0s 730us/step - loss: 0.5357 - accuracy: 0.7501
Epoch 132/150
329/329 [==============================] - 0s 772us/step - loss: 0.5356 - accuracy: 0.7498
Epoch 133/150
329/329 [==============================] - 0s 762us/step - loss: 0.5357 - accuracy: 0.7502
Epoch 134/150
329/329 [==============================] - 0s 727us/step - loss: 0.5357 - accuracy: 0.7500
Epoch 135/150
329/329 [==============================] - 0s 742us/step - loss: 0.5356 - accuracy: 0.7496
Epoch 136/150
329/329 [==============================] - 0s 705us/step - loss: 0.5356 - accuracy: 0.7495
Epoch 137/150
329/329 [==============================] - 0s 790us/step - loss: 0.5356 - accuracy: 0.7498
Epoch 138/150
329/329 [==============================] - 0s 723us/step - loss: 0.5355 - accuracy: 0.7495
Epoch 139/150
329/329 [==============================] - 0s 724us/step - loss: 0.5355 - accuracy: 0.7498
Epoch 140/150
329/329 [==============================] - 0s 735us/step - loss: 0.5354 - accuracy: 0.7495
Epoch 141/150
329/329 [==============================] - 0s 893us/step - loss: 0.5355 - accuracy: 0.7500
Epoch 142/150
329/329 [==============================] - 0s 905us/step - loss: 0.5354 - accuracy: 0.7503
Epoch 143/150
329/329 [==============================] - 0s 891us/step - loss: 0.5354 - accuracy: 0.7502
Epoch 144/150
329/329 [==============================] - 0s 811us/step - loss: 0.5354 - accuracy: 0.7502
Epoch 145/150
329/329 [==============================] - 0s 795us/step - loss: 0.5353 - accuracy: 0.7496
Epoch 146/150
329/329 [==============================] - 0s 875us/step - loss: 0.5353 - accuracy: 0.7499
Epoch 147/150
329/329 [==============================] - 0s 887us/step - loss: 0.5352 - accuracy: 0.7504
Epoch 148/150
329/329 [==============================] - 0s 814us/step - loss: 0.5353 - accuracy: 0.7500
Epoch 149/150
329/329 [==============================] - 0s 734us/step - loss: 0.5352 - accuracy: 0.7501
Epoch 150/150
329/329 [==============================] - 0s 807us/step - loss: 0.5352 - accuracy: 0.7495

In [43]:
scores = model.evaluate(X, Y)
print("%s: %.2f%%" % (model.metrics_names[1], scores[1]*100))

470/470 [==============================] - 1s 708us/step - loss: 0.6849 - accuracy: 0.7463
accuracy: 74.63%

In [45]:
pred_train = pd.Series([i[0] for i in pred_train])

In [47]:
size = ["Low","High"]
pred_train_class = pd.Series(["Low"]*10527)
pred_train_class[[i>0.5 for i in pred_train]]= "High"

In [49]:
train = pd.concat([x_train,y_train],axis=1)
train["TEYCtg"].value_counts()

1    7829
0    2698
Name: TEYCtg, dtype: int64

In [51]:
from sklearn.metrics import confusion_matrix
train["original_class"] = "Low"
train.loc[train["TEYCtg"]==1,"original_class"] = "High"
train.original_class.value_counts()
confusion_matrix(pred_train_class,train["original_class"])
np.mean(pred_train_class==pd.Series(train["original_class"]).reset_index(drop=True)) 
pd.crosstab(pred_train_class,pd.Series(train["original_class"]).reset_index(drop=True))

original_class  High   Low
row_0
High            7764  2568
Low               65   130

In [53]:
pred_test = first_model.predict(np.array(x_test))
pred_test = pd.Series([i[0] for i in pred_test])
pred_test_class = pd.Series(["Low"]*4512)
pred_test_class[[i>0.5 for i in pred_test]] = "High"
test =pd.concat([x_test,y_test],axis=1)
test["original_class"]="Low"
test.loc[test["TEYCtg"]==1,"original_class"] = "High"

In [54]:
test["original_class"].value_counts()
np.mean(pred_test_class==pd.Series(test["original_class"]).reset_index(drop=True))
confusion_matrix(pred_test_class,test["original_class"])
pd.crosstab(pred_test_class,pd.Series(test["original_class"]).reset_index(drop=True))

original_class  High   Low
row_0
High            3367  1059
Low               28    58