In [1]:
#H0=there is no difference among the laboratories
#H1=Atleast 1 laboratory has different TAT

import pandas as pd
import numpy as np
from scipy import stats
from scipy.stats import norm

In [2]:
import os
os.getcwd()

'C:\\Users\\Acer\\Downloads\\ass3'

In [3]:
data=pd.read_csv('LabTAT.csv')
data

     Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0          185.35        165.53        176.70        166.13
1          170.49        185.91        198.45        160.79
2          192.77        194.92        201.23        185.18
3          177.33        183.00        199.61        176.42
4          193.41        169.57        204.63        152.60
..            ...           ...           ...           ...
115        178.49        170.66        193.80        172.68
116        176.08        183.98        215.25        177.64
117        202.48        174.54        203.99        170.27
118        182.40        197.18        194.52        150.87
119        182.09        215.17        221.49        162.21

[120 rows x 4 columns]

In [5]:
lab1=pd.Series(data.iloc[:,0])
lab1

0      185.35
1      170.49
2      192.77
3      177.33
4      193.41
        ...
115    178.49
116    176.08
117    202.48
118    182.40
119    182.09
Name: Laboratory 1, Length: 120, dtype: float64

In [14]:
lab2=pd.Series(data.iloc[:,1])
lab3=pd.Series(data.iloc[:,2])
lab4=pd.Series(data.iloc[:,3])
lab1.mean()

178.36158333333339

In [15]:
lab2.mean()

178.9029166666668

In [17]:
lab3.mean()

199.91325000000003

In [18]:
lab4.mean()

163.6827499999999

In [8]:
stats.f_oneway(lab1,lab2,lab3,lab4)

F_onewayResult(statistic=118.70421654401437, pvalue=2.1156708949992414e-57)

In [ ]:
#pvalue is less that 0.05 so we reject the null hypothesis
#i.e there is difference in average TAT among the laboratories